@media (max-width: 768px) {

.container{
    max-width: 689px;
}

/* header */
.header{
    width: 100%;
    margin-top: 64px;
}
.header_container{
    height: 48px;
}
.header-logo{
    width: 128px;
    height: 32px;
}
.nav-item ul{
    margin-left: 100px;
}

/* main style */

.main{
    height: auto;
    padding: 40px 0;
}
.main_container{
    height: 220px;
    flex-direction: column;
    gap: 50px;
}
.main_container .group2{
    display: none;
}

.main-h1{
    line-height: 56px;
    height: 56px;
}

.main-right{
    width: 457px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 140px;
    /* position: relative; */
}
.stk{
    height: 0;
    width: 0;
    display: none;
}
.main-right p{
    font-size: 15px;
}







/* sector */
.section{
    height: 1219px;
}
.section_container{
    height: auto;
    gap: 40px;
}
.section_container h1{
    font-size: 32px;
    line-height: 32px;
}
.section_container .block{
    height: auto;
    justify-content: center;
    gap: 20px;
}
.boxs{
    width: 281px;
    position: relative;
}

.box{
    width: 233px;
    height: 165px;
}
.box p{
    width: 233px;
}



/* artikle */
.article{
    height: 308px;
}
.article_container{
    height: 108px;
}
.article_container h1{
    font-size: 32px;
    line-height: 32px;
}



/* contactus */
.contactus img{
    position: absolute;
    left: 0;
    bottom: -70px;

}
.contactus_container{
    height: 48px;
}
.contactus_container h1{
    font-size: 32px;
    line-height: 32px;
}

/* footer */

.footer{
    height: 271px;
}
.footer_container{
   flex-direction: column;
}

.footer-left{
    display: flex;
    justify-content: space-between;
    width: 689px;
    height: 102px;
}

.footer-logo img{
    width: 96px;
    height: 24px;
}
.footer-logo ul a{
    font-size: 15px;
    line-height: 25px;
}
.footer-left ul{
     text-align: end;
}
.footer-right{
    height: 25px;
    flex-direction: row;
}
}