*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #014E56;
    font-family: "Livvic", sans-serif;
}
a{
    transition: all 0.3s;
    color: #fff;
    text-decoration: none;
    font-family: "Livvic", sans-serif;
}
a:hover{
    color: #F67E7E;
}
.container{
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
}

/* header */


.header{
    width: 100%;
    margin-top: 73px;
}
.header_container{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}
.header-logo{
    width: 160px;
    height: 40px;
}
.nav-item{
    display: flex;
    align-items: center;
}
.nav-item ul{
    display: flex;
    margin-left: 70px;
    list-style: none;
    gap: 20px;
    
}
.header-btn{
    width: 153px;
    height: 48px;
    border-radius: 24px;
    border: 2px solid #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    background-color: transparent;
    color: #fff;
    transition: all 0.3s;
}
#menu-header{
    display: none;
}
.header-btn:hover{
    background-color: #fff;
    cursor: pointer;
}
.header-btn:hover a{
    color: #014E56;
}

/* main style */

.main{
    width: 100%;
    color: #fff;
}
.main_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    height: 500px;
    /* position: relative; */
}
.main_container .group2{
    position: absolute;
    top: 250px;
    z-index: -100;
    /* width: 200px; */
    height: 200px;
    left: 0px;
}

.main-h1{
    font-size: 100px;
    line-height: 100px;
    font-weight: bold;
    width: 615px;
    height: 200px;
}

.main-h1 span{
    color: #F67E7E;
}
.main-right{
    width: 445px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 195px;
    position: relative;
}
.group1{
    position: absolute;
    bottom: -270px;
    z-index: -1;
}

.stk{
    width: 50px;
    height: 4px;
    background-color: #79C8C7;
}
.main-right p{
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

/* sector */
.section{
    z-index: 100;
    background-color: #012F34;
    margin-top: 110px;
    width: 100%;
    height: 684px;
    display: flex;
    align-items: center;
    color: #fff;
    position: relative;
}
.section-img{
    position: absolute;
    bottom: 0;
    right: 0;
}
.section_container{
    display: flex;
    height: 404px;
    justify-content: space-evenly;
}
.section-left{
    display: flex;
    flex-direction: column;
    width: 445px;
    height: 202px;
    justify-content: space-between;
}
.section-left h1{
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
}

.section_container .boxes{
    width: 540px;
    height: 346px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.boxes .box{
   display: flex;
   gap: 30px;
   align-items: center;
}
.box .box-in{
    position: relative;
    width: 56px;
    height: 56px;
    border-radius: 56px;
    background-color: #2C6269;
}
.box-in-img{
    position: absolute;
    width: 56px;
    height: 56px;
    top: -25px;
    left: -25px;
}


.box .box-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 445px;
    height: 94px;
}
.box-text .p-red{
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: #F67E7E;
}
.box-text .p-white{
    font-size: 15px;
    line-height: 25px;
    font-weight: 600;
}


/* artikle */
.article{
    width: 100%;
    height: 745px;
    display: flex;
    align-items: center;
}
.article_container{
    display: flex;
    color: #fff;
    flex-direction: column;
    justify-content: space-between;
    height: 465px;
}

.article-h1{
    width: 932px;
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    text-align: center;
}
.article-h1 span{
    color: #C4FFFE;
}

.article-block{
    height: 313px;
    width: 100%;
    display: flex;
    padding-top: 50px;
    justify-content: space-between;
}

.article-box{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.article-box p{
    font-size: 15px;
    line-height: 25px;
    font-weight: 600;
    text-align: center;
}
.article-box .name-job{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.name-job h1{
    font-size: 18px;
    line-height: 28px;
    color: #79C8C7;
}
.name-job p{
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
    color: #fff;
}
.article-img-box{
    width: 62px;
    height: 62px;
    border: 2px solid #C4FFFE;
    border-radius: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.article-img-box img{
    width: 62px;
    height: 62px;
}

/* contactus */
.contactus{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #F67E7E;
}
.contactus img{
    position: absolute;
    left: 0;
    bottom: 0;

}
.contactus_container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.contactus_container h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    color: #012F34;
}
.contactus-btn{
    width: 153px;
    height: 48px;
    border-radius: 24px;
    border: 2px solid #012F34;
    color: #012F34;
    transition: all 0.3s;
    cursor: pointer;
    background-color: transparent;
}

.contactus-btn a{
    color: #012F34;
    font-weight: 700;
}
.contactus-btn:hover{
    background-color: #012F34;
    color: #fff;
}
.contactus-btn:hover a{
    color: #fff;
}

/* footer */

.footer{
    width: 100%;
    height: 196px;
    display: flex;
    align-items: center;
    background-color: #002529;
}
.footer_container{
    display: flex;
    justify-content: space-between;
}

.footer-left{
    display: flex;
    justify-content: space-between;
    width: 430px;
    height: 100px;
}

.footer-logo{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.footer-logo img{
    width: 160px;
    height: 40px;
}
.footer-logo ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.footer-logo ul a{
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    transition: all 0.3s;
}
.footer-logo ul a:hover{
    color: #F67E7E;
}
.footer-left ul{
    list-style: none;
    color: #ffffff70 ;
    font-size: 15px;
    line-height: 25px;
    font-weight: 600;
}
.footer-right{
    display: flex;
    height: 100px;
    justify-content: space-between;
    flex-direction: column;
    align-items: end;
}
.footer-right p{
    font-size: 15px;
    line-height: 25px;
    color: #ffffff8b;
    font-weight: 600;
}
.footer-right .icons{
    display: flex;
    transition: all 0.3s;
    cursor: pointer;
    gap: 20px;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: #fff;
}
.footer-right i:hover{
    color: #F67E7E;
}




@media (max-width: 960px) {
    .container {
        max-width: 810px;
        padding: 0 20px;
    }
    
    /* Header */
    .header {
        margin-top: 50px;
    }
    
    .header_container {
        gap: 15px;
    }
    .header-logo {
        width: 140px;
        height: 35px;
    }
    .nav-item ul {
        margin-left: 30px;
        gap: 15px;
    }
    .header-btn {
        width: 140px;
        height: 45px;
        font-size: 17px;
    }

    /* Main Section */
    .main{
        height: auto;
    }
    .main_container {
        flex-direction: column;
        align-items: center;
        padding: 60px 20px;
        gap: 30px;
        height: auto;
    }
    .main-h1 {
        font-size: 80px;
        line-height: 85px;
        width: 100%;
        text-align: center;
        height: auto;
    }
    .main-right {
        width: 100%;
        text-align: center;
        height: auto;
    }
    .group2{
        display: none;
    }
    .group1{
        bottom: -190px;
        left: 150px;
    }

    /* Section */
    .section {
        height: auto;
        padding: 40px 0;
    }
    .section_container {
        flex-direction: column;
        width: 100%;
        gap: 30px;
        padding: 20px;
        height: 100%;
    }
    .section-left {
        padding: 20px;
        width: 100%;
        height: auto;
        gap: 20px;
        align-items: start;
    }
    .section-left h1 {
        font-size: 36px;
        line-height: 40px;
        text-align: center;
    }
    .boxes {
        width: 100%;
        gap: 20px;
        padding: 0 40px ;
        padding-bottom: 20px;
    }
    .box-text .p-red {
        font-size: 16px;
    }
    .box-text .p-white {
        font-size: 14px;
        line-height: 24px;
    }

    .section-img{
        height: 150px;
    }

    /* Article */
    .article {
        padding: 30px 0;
        height: 910px;
    }
    .article_container {
        width: 100%;
        height: 100%;
        gap: 20px;
        padding: 20px;
        align-items: center;
    }
    .article-h1 {
        width: 100%;
        font-size: 36px;
        line-height: 40px;
        text-align: center;
    }
    .article-block {
        flex-direction: column;
        gap: 30px;
        height: 690px;
    }
    .article-box {
        width: 100%;
        text-align: center;
    }

    /* Contact Us */
    .contactus {
        padding: 30px;
        height: auto;
    }
    .contactus_container {
        gap: 10px;
    }
    .contactus_container h1 {
        font-size: 26px;
        line-height: 40px;
    }
    .contactus-btn {
        width: 140px;
        height: 45px;
        font-size: 17px;
    }

    .contactus img{
        position: absolute;
        left: 0;
        height: 100px;
        bottom: 0px;
    }

    /* Footer */
    .footer {
        height: auto;
        padding: 30px;
        flex-direction: column;
        gap: 20px;
    }
    .footer_container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .footer-left {
        width: 100%;
        text-align: center;
    }
    .footer-logo img {
        width: 120px;
        height: 30px;
    }
    .footer-logo ul {
        flex-direction: column;
        gap: 10px;
    }
    .footer-right {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 15px;
    }
}







@media (max-width: 760px) {
    .container{
        width: 100%;
        max-width: 643px;
    }
    /* header */
    .header{
        margin-top: 64px;
    }
    .header-logo{
        width: 128px;
        height: 32px;
    }   

    .header-btn{
        display: none;
    }
    #menu-header{
        color: #fff;
        font-size: 22px;
        display: inline-block;
    }
    #menu-header:hover{
        color: #F67E7E;
    }
    .nav-item ul{
        display: none;
    }


    /* main */

    
    
.main_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 70px 0;
    height: 540px;
    /* position: relative; */
}
    .main_container .group2{
        
        display: none;
    }
    .main-h1{
        font-size: 64px;
        line-height: 56px;
        font-weight: bold;
        width: 383px;
        text-align: center;
        height: 112px;
    }
    .main-right{
        width: 457px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 195px;
        position: relative;
    }
    .group1{
        position: absolute;
        bottom: -110px;
        z-index: -1;
    }
    
    .main-right p{
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
    }
    /* section */
    .section{
        z-index: 100;
        background-color: #012F34;
        margin-top: 0px;
        width: 100%;
        height: 684px;
        display: flex;
        align-items: center;
        color: #fff;
        position: relative;
    }
    
.section-img{
    top: 0;
}
.section_container{
    width: 573px;
    flex-direction: column;
    height: 510px;
}
.section-left{
    flex-direction: column;
    width: 573px;
    height: 252px;
    justify-content: space-evenly;
}
.section-left h1{
    font-size: 32px;
    line-height: 32px;
}
.section_container .boxes{
    width: 573px;
}
.box .box-text{
    width: 478px;
}

/* artikle */
.article{
    height: 1199px;
}
.article_container{
    height: 999px;
    width: 573px;
}
.article-h1{
    width: 573px;
    font-size: 32px;
    line-height: 32px;
}
.article-block{
    gap: 40px;
    height: 839px;
    align-items: center;
    flex-direction: column;
    padding-top: 64px;
}
.article-box{
    width: 573px;
    height: 253px;
}
.contactus img{
    position: absolute;
    left: 0;
    height: 100px;
    bottom: 0px;
}

.contactus_container h1{
    font-size: 32px;
    line-height: 32px;
}
/* footer */

.footer{
    height: 271px;
}
.footer_container{
    height: 159px ;
    flex-direction: column;
}
.footer-left{
    width: 689px;
    height: 102px;
}
.footer-logo img{
    width: 95px;
    height: 24px;
}

.footer-logo ul a{
    font-size: 15px;
    line-height: 25px;
}
.footer-right{
    height: 25px;
    width: 689px;
    flex-direction: row;
}


}



@media (max-width: 570px) {
    .container {
        max-width: 375px;
    }
    
    /* Header */
    .header {
        margin-top: 48px;
    }
    .header_container {
        gap: 15px;
        height: 32px;
    }
    .header-logo {
        width: 128px;
        height: 32px;
    }

    /* Main Section */
    .main_container {
        flex-direction: column;
        align-items: center;
        padding: 10px 20px;
        gap: 20px;
        height: 210px;
        width: 327px;
    }
    .main-h1 {
        font-size: 40px;
        line-height: 40px;
        width: 327px;
        text-align: center;
        height: 80px;
    }
    .main-right {
        width: 327px;
        text-align: center;
        height: 112px;
    }
    .group1{
        bottom: -160px;
        left: 30%;
    }

    /* Section */

    .section-img{
        top: 0;
        right: 0;
    }

    .section {
       display: flex;
       align-items: center;
        height: 1073px;
    }
    .section_container {
        flex-direction: column;
        width: 327px;
        gap: 30px;
        padding: 20px;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: start;
    }
    .section-left {
        padding: 0px;
        width: 240px;
        height: auto;
        gap: 20px;
        align-items: start;
    }
    .section-left h1 {
        font-size: 32px;
        line-height: 32px;
        text-align: start;
    }
    .boxes {
        width: 327px;
        gap: 20px;
        height: 693px;
        padding: 0px ;
        padding-bottom: 20px;
    }
    .box{
        width: 327px;
        flex-direction: column;
    }

    
.box .box-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 327px;
    height: auto;
}

    .box-text .p-red {
        font-size: 18px;
    }
    .box-text .p-white {
        font-size: 15px;
        line-height: 24px;
    }

    .section-img{
        top: 0;
        right: 0;
        height: 100px;
    }

    /* Article */
    .article {
        height: 1106px;
    }
    .article_container {
        width: 100%;
        height: 100%;
        gap: 20px;
        padding: 20px 10px;
        align-items: center;
    }
    .article-h1 {
        width: 100%;
        font-size: 32px;
        line-height: 32px;
        text-align: center;
    }
    .article-block {
        flex-direction: column;
        gap: 30px;
        height: 930px;
    }
    .article-box {
        width: 100%;
        height: 276px;
        text-align: center;
    }

    /* Contact Us */
    .contactus {
        padding: 30px;
        height: auto;
    }
    .contactus_container {
        width: 327px;
        height: 136px;
        gap: 10px;
    }
    .contactus_container h1 {
        font-size: 32px;
        line-height: 32px;
    }
    .contactus-btn {
        width: 153px;
        height: 48px;
        font-size: 17px;
    }

    .contactus img{
        position: absolute;
        left: 0;
        height: 70px;
        bottom: 0px;
    }

    /* Footer */
    .footer {
        height: 432px;
        padding: 30px;
    }
    .footer_container {
        width: 327px;
        height: 302px;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .footer-left {
        width: 100%;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .footer-logo img {
        width: 96px;
        height: 24px;
    }
    .footer-logo ul {
        flex-direction: column;
        gap: 10px;
    }
    .footer-right {
        width: 255px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 15px;
    }
}
